<% include partials/header %>

    <h1>WiniMov</h1>
    <form action="/request" method="get">
      <input type="text" name="search">
      <input type="text" name="page">
      <button type="submit">Search</button>
    </form>

<% include partials/footer %>
